
h1 {
        color: black;	
}

body {
 
        background-color: rgb(173,216,230);
}

img {
            vertical-align: middle;
        }



        #special-text {
            font-family: 'Courier New', monospace;
            font-size: 1.2em;
            color: 
        }
